* {
	font-family: Arial	
 }

 h1  {
	 background-color: #0072B2;
	 color: White;
	 padding: 5%
 }


 table {
	 width: 80%;
	 border-collapse: collapse;
	 page-break-inside: avoid;
 }

 th {
	 padding-top: 10px;
	 padding-bottom: 10px;
	 text-align: center;
	 background-color: #009E73;
	 color: White

 }

 th, td {
	border: 1px solid #cccccc;
	padding: 10px
 }

 tr:nth-child(even) {
	 background-color: #eeeeee
 }

 img{
	 max-width: 100%;
	 height: auto;
	 display: block;
	 margin-top: 10%;
 }
